@media (min-width: 1200px) {
    body {
        background-color: #fff;
    }

    .first-section {
        background: url(../img/bg-xl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;

        &__date {
            font-size: 2.2rem;
        }

        &____main-title {
            font-size: 2.2rem;
        }
    }

    .logo {
        height: 6rem;
        background-size: contain;
        background-image: url(../img/logo-xl.png);
    }

    .first-section__text {
        padding: 1rem;
    }

    .timer {
        border: 1px solid #fff;
        margin-bottom: 2.5rem;
        padding-bottom: 4rem;

        &-element__wrapper {
            padding: 0;
        }
    }

    .info-card {
        flex-direction: column;
        background-color: inherit;

        &__aside {
            display: block;
            border-bottom: 1px solid #d4d9e1;
            border-right: none;
            text-align: center;
            padding: 1rem 0;
            margin: 0 auto;
            width: 100%;

        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
            font-size: 0.9rem;
            margin: 0;
            padding-bottom: 0;
        }

    }

    .second-section {
        background: url(../img/author-xl.jpg) left 5% top 70% no-repeat;
        background-size: 40%;
    }

    .course {
        padding-bottom: 0;
    }

    .author-img {
        background-image: none;
    }



    .from-the-author {

        background: linear-gradient(135deg, rgba(255, 250, 242, 0.1), rgba(255, 250, 242, 1));
        top: 0.5rem;
        // bottom: 0;
        left: 0.5rem;
        // right: 0;
        padding-top: 0;
        padding-bottom: 0;

        &__wrapper {
            width: 90%;
            height: 90%;
            border-left: 0.5rem solid #ffeac5;
            border-top: 0.5rem solid #ffeac5;
            position: relative;
            border-radius: 10px;
        }

        &__text {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &__title {

            text-align: left;
            padding-left: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 30px 40px;
            // border-color: transparent transparent transparent rgb(255, 253, 250);
            // box-shadow: -4px 3px 9px 0 rgba(0, 0, 0, .1);
            border-color: transparent transparent rgb(255, 253, 250) transparent;
            box-shadow: 0 5px 9px -3px rgba(0, 0, 0, 0.1);
            transform: rotate(0deg);
            position: absolute;
            bottom: 30px;
            left: -40px;
            z-index: 10;
        }

        &::after {
            content: '';
            position: absolute;
            width: 77px;
            height: 74px;
            top: -27px;
            right: -7px;
            transform: rotate(75deg);
            background-color: #fff;
            box-shadow: inset 0px -23px 9px -22px rgba(0, 0, 0, 0.1);
            z-index: 50;


        }
    }

    span.heart {
        position: absolute;
        z-index: 99;
        top: -48px;
        right: -30px;
        width: 100px;
        height: 100px;
        background-image: url(../img/heart-xl.png);


    }

    .button-wrapper-xl {

        position: relative;

        box-shadow: inset 0 5px 3px #ddd;
        border-radius: 35px;
        background: #fff;
        width: 195px;
        height: 60px;
        bottom: -27px;

    }

    .button-xl {
        position: absolute;
        padding-left: 2rem;
        padding-right: 2rem;
        left: 6px;
        bottom: 0px;
        // border: 0.5rem solid #fff;
        border-radius: 35px;
        z-index: 999;
    }

    .custom-nav-link {
        border: 0;
    }

    .custom-navbar {
        position: static;
        top: 0;
        padding: 0;   
        background: #fff;   
        display: flex;
        justify-content: flex-end;
        &::after {
            display: none;
        }
    }

}